{{ partial "header.html" . }}

<div class="container">
    {{ partial "intro.html" . }}
    <p class="error">Oh, cette page n'existe pas. Vous pouvez revenir au site <a href="{{ .Site.BaseURL }}">homepage</a>.</p>
</div>

{{ partial "footer.html" . }}
